.commonButton {
  color: white;
  background: pink;
  border: none;
  font-size: 18px;
  font-weight: 700;
  transition: 0.2s all;
}
.primaryButton {
  color: white;
  background-color: #006ada;
  border: none;
  font-size: 16px;
  font-weight: 700;
  transition: 0.2s all;
  border-radius: 8px;
  padding: 12px 30px;
  font-family: cursive;
}

.dangerButton {
  color: white;
  background-color: #e21330;
  border: none;
  font-size: 16px;
  font-weight: 700;
  transition: 0.2s all;
  border-radius: 8px;
  padding: 12px 20px;
  font-family: cursive;
}

.button-outline {
  font-size: 16px;
  font-weight: 700;
  color: #121212;
  background: white;
  border: 1px solid rgb(62, 61, 61);
  transition: 0.2s all;
   border-radius: 8px;
  padding: 12px 20px;
  font-family: cursive;
}

.commonButton:active,
.button-outline:active,
.primaryButton:active,
.cancelButton:active {
  transform: scale(0.98);
}

@media (max-width: 768px) {
  .commonButton,
  .button-outline {
    font-size: 16px;
    height: 45px;
  }
}
